<mat-card style="margin-top:10px;">
  <mat-card-header>
    <mat-card-title>{{publication.title}}</mat-card-title>
    <mat-card-subtitle>{{publication.authors | joinArrayElements}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content >
  	<button mat-raised-button (click)="getDetails()" *ngIf="!detailsShown">View more details</button>
  	<br/>
  	<div *ngIf="metadata != undefined">
  		<span><b>Publication metadata</b></span>
	    <ul>
	      <li><b>Date received: </b>{{metadata.dateReceived}}</li>
	      <li><b>Date revised: </b>{{metadata.dateRevised}}</li>
	      <li><b>Date accepted: </b>{{metadata.dateAccepted}}</li>
	      <li><b>Authors affiliations: </b>{{metadata.authorsAffiliations | joinArrayElements}}</li>
	      <li><b>Keywords: </b>{{metadata.keywords | joinArrayElements}}</li>
	    </ul>
	    <br/>
	    <span *ngIf="references != undefined"><b>Publications which references this: </b></span>
      <ul *ngIf="references != undefined">
        <li *ngFor="let reference of references">
          {{reference}}
        </li>
      </ul>
	    <!--<span *ngIf="references != undefined">{{references | joinArrayElements}}</span>-->
  	</div>
    <br/>
    <a target="_blank" href="http://localhost:8080/scientificPublication/xhtml?title={{publication.title}}">View publication as HTML</a>
    <br/>
    <a routerLink="/publication/{{publication.title}}" mat-raised-button *ngIf="publication.ownPublication">See more about your publication</a>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button href="http://localhost:8080/scientificPublication/export/xhtml?title={{publication.title}}">Export as HTML</a>
    <a mat-raised-button href="http://localhost:8080/scientificPublication/export/pdf?title={{publication.title}}">Export as PDF</a>
    <a mat-raised-button href="http://localhost:8080/scientificPublication/metadata/rdf?title={{publication.title}}">Export metadata as RDF</a>
    <a mat-raised-button href="http://localhost:8080/scientificPublication/metadata/json?title={{publication.title}}">Export metadata as JSON</a>
  </mat-card-actions>
</mat-card>
