<h1 *ngIf="loading">Loading...</h1>
<div *ngIf="!loading" class="wrapper">
    <div fxLayout="row">
        <h2>{{ process.publicationTitle }}</h2>
        <h2>{{ process.processState }}</h2>
        <p>
            <span>
                <a mat-raised-button href="http://localhost:8080/reviews/mergeToHtml/{{process.publicationTitle}}/version/{{process.publicationVersion}}">View publication with reviews as HTML</a>
            </span>
            <span>
                <a class="downloadButton" mat-raised-button href="http://localhost:8080/reviews/mergeToPdf/{{process.publicationTitle}}/version/{{process.publicationVersion}}">View publication with reviews as PDF</a>
            </span>
        </p>
    </div>

    <div fxLayout="row">
        <h2>Review assignments:</h2>

        <h1 *ngIf="process.reviewerAssignments.length === 0">There are no review assignments.</h1>

        <mat-card style="margin-top:10px;" *ngFor="let assignment of process.reviewerAssignments">
            <mat-card-header>
                <mat-card-title>
                    {{assignment.reviewerFullName}} : 
                    {{assignment.reviewStatus}}
                </mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>

    <div fxLayout="row" *ngIf="process.processState === 'SUBMITTED' || process.processState === 'REVISED'">
        <h2>Assign reviewers:</h2>

        <mat-selection-list #reviewerSelection>
            <mat-list-option *ngFor="let reviewer of reviewers" (click)="onReviewerSelection(reviewerSelection)" [value]="reviewer.email">
                {{ reviewer.firstName }} {{ reviewer.lastName }}
            </mat-list-option>
        </mat-selection-list>
        <br/><br/>
        <a class="downloadButton" mat-raised-button (click)="onReviewersAssigned()" *ngIf="!processingAssignment">Assign reviewers</a>
        <h2 *ngIf="processingAssignment">Processing...</h2>
    </div>
</div>
